@mixin center($margin: 0 auto, $flex-dire: column, $justify: center) {
  margin: $margin;
  display: flex;
  flex-direction: $flex-dire;
  align-items: center;
  justify-content: $justify;
}
@mixin link-div($align: center) {
  @include center();
  width: 60%;
  align-items: $align;
}



.header-div {
  @include center();
  align-items: flex-start;
  position: relative;
  width: 60%;
  height: 100px;
  border-bottom: 1px solid #ccc;
}

////////////////////// context.tsx
.write-main-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.write-box {
  @include center();
  width: 60%;
  height: 610px;
}

.write-title-input {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 7px;
  width: 100%;
  height: 40px;
  padding: 0;
}
.write-react-quill {
  width: 100%;
  height: 90%;
}

.write-button-div {
  height: 20%;
}

.write-button-send {
  @include center();
  border: 1px solid grey;
  background-color: honeydew;
  width: 60%;
  height: 30px;
  border-radius: 8px;
}

/////////////////////// list.tsx
.list-main-div {
  width: 100%;
  height: 100vh;
  // @include center
}

.list-link-div {
  @include link-div($align: flex-end);
}

.list-link-style {
  width: 100px;
  button {
    width: 100%;
    height: 30px;
    border-radius: 7px;
    border: 1px solid #ccc;
  }
}

a:hover {
  color: black;
}
a:visited {
  color: black;
}

.list-header-div {
  @include center();
  align-items: flex-start;
  position: relative;
  width: 60%;
  height: 100px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  div {
    position: absolute;
    width: 10%;
    left: 90%;
  }
}
.list-login-button {
  width: 100%;
  border: none;
  border-radius: 7px;
  background-color: black;
  color: white;
  height: 25px;
  
}

.list-div {
  @include center;
}

.list-title-div {
  @include center($flex-dire: row);
  width: 60%;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid rgba($color: grey, $alpha: 0.3);
  p {
    text-align: center;
    margin: 0;
  }
  p:nth-child(1) {
    width: 5%;
  }
  p:nth-child(2) {
    width: 55%;
  }
  p:nth-child(3) {
    width: 10%;
  }
  p:nth-child(4) {
    width: 20%;
  }
  p:nth-child(5) {
    width: 10%;
  }

}

.list-content-div {
  @include center($flex-dire: row);
  width: 60%;
  height: 40px;
  border-bottom: 1px solid rgba($color: grey, $alpha: 0.3);
}
.list-content-link {
  @include center($flex-dire: row);
  width: 100%;
  height: 40px;
  color: black;
  p {
    text-align: center;
    margin: 0;
  }
  p:nth-child(1) {
    width: 5%;
  }
  p:nth-child(2) {
    width: 55%;
    overflow: hidden;
  }
  p:nth-child(3) {
    width: 10%;
  }
  p:nth-child(4) {
    width: 20%;
  }
  p:nth-child(5) {
    width: 10%;
  }
}
//////////// view.tsx
.view-main-div {
  width: 100%;
  height: 100vh;
}
.view-title-div {
  @include center($flex-dire: row);
  width: 60%;
  height: 7%;
}
.view-realTitle-div {
  width: 60%;;
}
.view-title-side-div {
  width: 40%;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.view-change-delete-div {
  width: 10%;
}

.view-date-div {
  width: 100%;
}
.view-2button-div {
  @include center($flex-dire: row);
  justify-content: flex-end;
  width: 60%;

  div:nth-child(2) {
    width: 10px;
  }
}

.view-change-button {
  width: 100%;
  border: 1px solid blue;
  background-color: blue;
  color: white;
  border-radius: 4px;
}

.view-delete-button {
  width: 100%;
  border: 1px solid red;
  background-color: red;
  border-radius: 4px;
}

.view-content-div {
  @include center($justify: flex-start);
  width: 60%;
  height: 60vh;
  border: 1px solid black;
  border-radius: 5px;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom : 10px;

  * {
    width: 100%;
    margin: 5px 0 0 5px;
    font-size: 12px;
    overflow-y: auto;
  }
}

//////////////////// login.tsx

.login-main-div {
  width: 100%;
  height: 100vh;
}
.login-content-div {
  @include center();
  width: 60%;
  height: 500px;
  // border: 1px solid black;
}

.login-input-div {
  @include center($justify: baseline);
  width: 30%;
  height: 70%;
  div {
    display: flex;
    div {
      width: 10px;
    }
  }

}
.login-input-style {
  margin: 0 0 10px 0;
  border-radius: 7px;
  border: 1px solid #ccc;
  width: 90%;
  height: 10%;
  padding-left: 10px;
}
.login-button-style {
  border-radius: 7px;
  border: none;
  background-color: black;
  color: white;
  width: 100px;
  height: 25px;
}
