.content-box {
  width: 100%;
  height: 100vh;
}

.title-input {
  border: none;
}

.button-send {
  border: none;
  background-color: honeydew;
  width: 1000px;
  height: 30px;
  border-radius: 15px;
}
