@mixin center($margin: 0 auto, $flex-dire: column) {
  margin: $margin;
  display: flex;
  flex-direction: $flex-dire;
  align-items: center;
  justify-content: center;
}
@mixin link-div($align : center) {
  @include center();
  width: 60%;
  align-items: $align;
}

////////////////////// context.tsx
.content-main-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.content-link-div {
  @include link-div($align: flex-start)
}
.content-box {
  @include center();
  width: 60%;
  height: 610px;
}

.content-title-input {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 7px;
  width: 100%;
  height: 40px;
  padding: 0;
}
.content-react-quill {
  width:100%;
  height: 90%;
}

.content-button-div {
  height: 20%;
}

.content-button-send {
  @include center();
  border: 1px solid grey;
  background-color: honeydew;
  width: 60%;
  height: 30px;
  border-radius: 8px;
}


/////////////////////// list.tsx
.list-main-div {
  width: 100%;
  height: 100vh;
  // @include center
}

.list-link-div {
  @include link-div($align: flex-end)
}

.list-link-style {
  width: 100px;
  button {
    width: 100%;
    height: 30px;
    border-radius: 7px;
    border: 1px solid #ccc;

  }
}

a:hover {
  color: black;
}
a:visited {
  color: black;
}

.list-header-div {
  @include center();
  align-items: flex-start;
  width: 60%;
  height: 100px;
}

.list-div {
  @include center;
}

.list-title-div {
  @include center($flex-dire: row);
  width: 60%;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid rgba($color: grey, $alpha: 0.3);
  p {
    text-align: center;
    margin: 0;
  }
  p:nth-child(1) {
    width: 5%;
  }
  p:nth-child(2) {
    width: 55%;
  }
  p:nth-child(3) {
    width: 10%;
  }
  p:nth-child(4) {
    width: 20%;
  }
  p:nth-child(5) {
    width: 10%;
  }
  // p:nth-child(6) {
  //   width: 5%;
  // }
}

.list-content-div {
  @include center($flex-dire: row);
  width: 60%;
  height: 40px;
  border-bottom: 1px solid rgba($color: grey, $alpha: 0.3);
}
.list-content-link {
  @include center($flex-dire: row);
  width: 100%;
  height: 40px;
  color: black;
  p {
    text-align: center;
    margin: 0;
  }
  p:nth-child(1) {
    width: 5%;
  }
  p:nth-child(2) {
    width: 55%;
    overflow: hidden;
  }
  p:nth-child(3) {
    width: 10%;
  }
  p:nth-child(4) {
    width: 20%;
  }
  p:nth-child(5) {
    width: 10%;
  }
}
//////////// view.tsx
.view-main-div {
  width: 100%;
  height: 100vh;
}
.view-link-div {
  @include center();
  width: 60%;
}

.view-title-div {
  @include center($flex-dire: row);
  width: 60%;
  div:nth-child(1) {
    width: 70%;
  }
  div:nth-child(2) {
    width: 30%;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    div {
      width: 20%;
      margin-right: 20px;
    }
  }
}
.view-change-button {
  border: 1px solid blue;
  background-color: blue;
  color: white;
  border-radius: 4px;
}

.view-delete-button {
  border: 1px solid red;
  background-color: red;
  border-radius: 4px;
}

.view-content-div {
  @include center();
  width: 60%;
  height: 80vh;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  * {
    width: 100%;
    margin: 5px 0 0 5px;
    font-size: 12px;
    overflow-y: auto;
  }
}
