@mixin center($margin: 0 auto, $flex-dire: column) {
  margin: $margin;
  display: flex;
  flex-direction: $flex-dire;
  align-items: center;
  justify-content: center;
}


////////////////////// context.tsx
.content-main-box {
  width: 100%;
  height: 100vh;

  button {
    @include center();
  }
}
.content-box {
  @include center();
}

.title-input {
  border: none;
}

.button-send {
  border: none;
  background-color: honeydew;
  width: 1000px;
  height: 30px;
  border-radius: 15px;
}


/////////////////////// list.tsx
.list-main-div {
  width: 100%;
  height: 100vh;
  // @include center
}

.link-div {
  @include center;
  width: 100%;
}
a:hover {
  color: black;
}
a:visited {
  color: black;
}

.header-div {
  @include center($margin: 0);
  width: 100%;
  height: 100px;
}

.list-div {
  @include center;
}

.list-title-div {
  @include center($flex-dire: row);
  width: 80%;
  p {
    text-align: center;
  }
  p:nth-child(1) {
    width: 15%;
  }
  p:nth-child(2) {
    width: 50%;
  }
  p:nth-child(3) {
    width: 15%;
  }
}

.list-content-div {
  @include center($flex-dire: row);
  width: 80%;
  height: 40px;
  p {
    text-align: center;
  }
  p:nth-child(1) {
    width: 15%;
  }
  p:nth-child(2) {
    width: 50%;
    overflow: hidden;
  }
  p:nth-child(3) {
    width: 15%;
  }
}
