.ql-toolbar {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: rgba($color: #ccc, $alpha: 0.7);
}

.ql-container {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 500px;
}
